params {
    uniref="uniref90_diamond"
    chocophlan="full"
    metaphlan_index="latest"
}

google {
    project = 'isb-cgc-01-0006'
    region = 'us-central1'
    lifesciences.preemptible = true
    lifeSciences.debug = true
}

profiles {
    google1 {
    	// docker.enabled = true
        // google.project='isb-cgc-01-0006'
    	process.container = 'seandavi/curatedmetagenomics'
        // google.region = 'us-central1'
        // params.publish_dir="gs://data-curatedmetagenomics/pipeline/runs"
	    // params.store_dir="gs://temp-testing-cmgd/nf_testing/resources"
        process.executor = 'google-lifesciences'
	    process.disk = '200 GB'
	    process.errorStrategy={ task.exitStatus==14 ? 'retry' : 'terminate' }
	    process.maxRetries=4
    }
}
